body {font-size:100%;
      margin:0; /*annulliamo ogni margine e padding per il box model html*/
      padding: 0;
      /*qui sotto definiamo come visualizzare le immagini di background di ogni pagina*/
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      
     /*TODO!*/
     height: 100%;
     }
     /*TODO!*/
     html {
      height: 100%;
      margin: 0;
     }

#BarraNavigazione {
                   width: 100%;
                   background-color: black;
                   color:white; /*colore del testo*/
                   border-collapse: collapse; /*rendiamo ongi celletta della tabella senza bordi*/
                   font-size: 125%;

                  }
                  #BarraNavigazione th {cursor: pointer; /*quando passiamo sopra col mouse a ogni cella otteniamo il cursor pointer*/
                                        padding:0.3%; /*genera la grandezza della barra di navigazione*/
                                        border: 1px solid #39393b; /*mostriamo un poco di divisione tra le celle coi borders*/
                                    }


#Home {margin: auto; /*centriamo il div*/
       background-color: rgb(255, 255, 255, 0.75); /*il terzo parametro indica l'opacità*/
       border: 1px solid black;

       width: 50%;
       margin-top: 4%;
       margin-right: 8%;

       text-align: center;
       padding: 0.3%;
      
}

#WhoWeAreParent {display: flex;
                 justify-content: space-around;
                 
                 height:93vh; /*div contenitore che ha l'altezza massima*/
                 overflow: hidden; /*tagliamo il contenuto, ma non generiamo degli scrollbar*/
                 padding:0.3%;

      }
      #WhoWeAreChild1 {
                       background-color: rgb(255, 255, 255, 0.75); /*il terzo parametro indica l'opacità*/
                       border: 1px solid black;

                       margin-top: 3%;
                       width: 37%;
                       height: fit-content; /*l'altezza del divsi aggiusta sul contenuto, pur avendo impostato la larghezza*/
                                              
                       text-align: center;
                       padding: 0.3%;
                        }
            #WhoWeAreChild1 img {float: right;
                                 display: none; /*se non è visualizzata su dispositivo mobile non viene mostrata*/
                        }
      #WhoWeAreChild2 {
                        width: 37%;
                        height: 100%;
                        }
            #WhoWeAreChild2 img {width:auto; /*la larghezza varia in funzione dell'altezza per mostrare bene i busti*/
                                 height: 100%; 
                                    }

#Contacts {margin: auto; /*centriamo il div*/
           background-color: rgb(255, 255, 255, 0.75); /*il terzo parametro indica l'opacità*/
           border: 1px solid black;

           width: 40%;
           margin-top: 10%;
           margin-right: 10%;

           padding: 0.3%;
           text-align: center;

      }
            #Contacts p {
                  font-family: "Times New Roman", Times, serif; /*testo dei contatti*/

            }


#prodotti {display:flex;
           justify-content: space-around;
           margin-top: 10%;
          }
            .prodotto {
                       background: rgb(255, 235, 205, 0.7);
                       border: 1px solid black;
                       width: 30%;
                       padding: 0.4%;
                      }
                  .prodotto img {float: right; /*tutte le immagini dei div "prodotto" sono a destra floating*/
                                }

footer {position: fixed; /*posizioniamo il footer in fondo a destra*/
        bottom: 0; 
        right: 0;
        
        }
        footer img {
              width: 75%; 
              height: auto; /*per mantenere la scala di dimensione*/
              float: right; /*per porlo tutto alla destra del footer senza spazi*/
              padding: 1% /*per lasciare un minimo di contorno*/
              }     


/*############################################ LAYOUT RESPONSIVE ########################################################*/
@media only screen and (max-width: 853px) {   
                                          body {
                                                background-size: cover;
                                               
                                          }
                                          
                                          #BarraNavigazione {
                                                             font-size: 110%;
                                                             position: -webkit-sticky; /*specifico per Safari */
                                                             position: sticky; /*per tutti i motori*/
                                                             top: 0%; /*sempre legato per rendere sticky la barra di navigazione*/
                                                      }
                                                      #BarraNavigazione th {
                                                            padding: 1.3%; /*per la dimensione della barra di navigazione*/
                                                      }

                                          #Home {
                                                margin: auto;
                                                margin-top: 1%;
                                                width: 97%;
                                          }
                                          #WhoWeAreParent {
                                                            margin: auto;
                                                            margin-top: 1%;
                                                            width: 97%;
                                                            height: auto;
                                          } 
                                                #WhoWeAreChild1 {
                                                            margin-top: 0;
                                                            padding: 0.3%;
                                                            font-size: 100%;
                                                            width: 100%;
                                                }
                                                      #WhoWeAreChild1 img {
                                                            display: inline-block; /*ilnine-block permette di impostare le dimensioni*/
                                                            width: 60%;
                                                            height: auto;
                                                      }      
                                                #WhoWeAreChild2 {display: none;

                                                }
                                          #Contacts {
                                                margin: auto;
                                                margin-top: 20%;
                                                width: 97%;
                                          }

                                         #prodotti {
                                                   flex-direction: column;
                                                   margin-top: 0;
                                          } 
                                                .prodotto {margin: auto; /*centriamo*/
                                                           margin-top: 1%;
                                                           width: 97%;
                                                }
                                                
                                                
                                          /*se vogliamo toccare il footer per dispositivi mobili*/
                                          footer img {width: 40%;
                                                      height: auto;
                                                }
                                                
                                    }
/*########################################## FINE LAYOUT RESPONSIVE ######################################################*/